
# Created by https://www.gitignore.io/api/libreoffice
# Edit at https://www.gitignore.io/?templates=libreoffice

### LibreOffice ###
# LibreOffice locks
.~lock.*#
./1/~lock.*#
./2/~lock.*#
./3/~lock.*#
# End of https://www.gitignore.io/api/libreoffice
